.content {
    width: 224px;

    .menu-btn {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        width: 100%;
        padding: 14px 16px;
        border-radius: 0;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}
