@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --defaultlayout-header-height: 60px;
    --defaultlayout-header-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Arimo', sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-size: 1.6rem;
    font-style: normal;
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
}
